.height50 {
    height: 50% !important
}

.delete {
    position: fixed;
    width: 5% !important;
    height: 10%;
    transform: translateY(50%);
    right: 50px;
    top: 0;
    opacity: 0.5;
    background-color: white;
    border: none;
}

.deleterow {
    width: 13%
}

.delete:hover {
    background-color: white !important;
    border: none !important;
}

.deleteicon {
    height: 50px;
    width: 50px;
}

.buttons {
    background: white;
    border: 1px solid black;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagesize {
    width: 8vw;
    height: 11vh;
}

@media only screen and (max-width: 500px) {
    .imagesize {
        width: 20vw
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .imagesize {
        width: 16vw
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .imagesize {
        width: 10vw;
    }
    .delete {
        right: 50px;
    }
}

@media only screen and (min-width: 1000px) {
    .imagesize {
        width: 10vw;
    }
    .delete {
        right: 50px;
    }
}