.wordbutton {
    width: 13vh;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black !important;
    border-radius: 0px !important;
}

.cardbutton {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 150px !important;
    height: 150px !important;
    overflow: hidden;
    margin: 0.3rem;
}